<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample SPA App</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/ng/route/route.js"></script>
    <script src="~/ng/controllers/home-controller.js"></script>
    <script src="~/ng/services/home-service.js"></script>
    <base href="/">
</head>
<body ng-app="main">
    <div>
        @RenderBody()
    </div>
</body>
</html>
